# This file is using by .github/workflows/17-dockerimage-pushtoecr-ecr-k8scluster file
apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
        - name: app-1
          image: 683134746681.dkr.ecr.us-east-1.amazonaws.com/app:latest
          ports:
            - containerPort: 80