name: create runner # workflow name
on: workflow_dispatch
jobs:
  create-runner:
    runs-on: ubuntu-latest
    steps:
      - name: checout code
        uses: actions/checkout@v3

      - name: list files
        run: |
          ls -la
          pwd